@import "./base.css";

body {
  background-color: var(--vt-c-white-soft);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  max-width: 1250px;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--dark-blue);
  transition: 0.4s;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--dark-blue);
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--vt-c-white-soft);
  transition: all 250ms ease;
  max-width: 50%;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.button:hover {
  background-color: var(--bright-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.toastui-calendar-see-more-container {
  position: fixed;
  left: 50%;
  right: 50%;
}

.toastui-calendar-weekday-event:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1250px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}